* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    background-color: #212121;
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    margin: 50px 0 0 0;
}

header>h1{
    font-size: 35px;
    margin-bottom: 0;
}

header>h2{
    font-size: 28px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 100px;
}

.contexte{
  margin: 0 200px 50px 200px;
  font-size: 18px;
  display: flex;
  flex-direction: row;
}

.contexte img{
    border-radius: 10px;
    max-height: 200px;
    margin-left: 20px;
}

.mainAside{
    display: flex;
    flex-direction: row;
}

main{   
    width: 70%;
}

.etapes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.etapes .etape {
  background-color: #2e2c2c;
  border: 1px solid #796f6f;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.758);
  margin: 0 20px 40px 20px;
  padding: 20px;
  max-width: 400px;
  text-align: center;
}

.etapes .new{
  border: 1px solid #b81818;
  box-shadow: 0 0 10px rgba(211, 91, 91, 0.758);
}

.etapes .new h3{
  margin-bottom: 10px;
  color: #b81818;
}

.prochainement{
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.date{
  font-weight: bold;
  margin: 5px;
}

.etapes .etape img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  margin-bottom: 10px
}

.etapes .etape video {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  margin-bottom: 10px
}

.etapes .etape h2 {
  font-size: 18px;
  margin-top: 10px;
}

.etapes .etape p {
  font-size: 14px;
}

.modif{
    object-position: top;
}

aside{
    width: 30%;
    margin: 0 15px 0px 15px;
    background-color: azure;
    color: #212121;
    border-radius: 10px;
    padding: 10px;
    position: fixed;
    right: 0;
}

.icon{
    max-width: 96px;
}

.time{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.time>img{
    margin-right: 50px;
}

#time{
    font-size: 60px;
    height: fit-content;
}

.weather{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.etapes .etape .legende{
  font-size: 12px;
}

.weather>h3{
  margin: 10px 0;
}

footer{
  margin-top: 60px;
}

footer img{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 25px;
  height: 55px;
}

footer label{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 25px;
  height: 55px;
}

footer a{
  position: fixed;
  text-decoration: none;
  color: #212121;
  background-color: azure;
  height: 55px;
  padding: 15px 30px;
  margin-left: 25px;
  border-left: solid 3px #212121;
  border-radius: 0 10px 10px 0;
  left: 0;
  bottom: 0;
}

footer input{
  visibility: hidden;
}

#hide:checked footer a {
  visibility: hidden;
}

@media (max-width: 480px) {

  header>h1{
    font-size: 23px;
  }

  header>h2{
    font-size: 17px;
  }
  
  .contexte{
    flex-direction: column-reverse;
    margin: 0px 10px 50px 10px;
  }

  .contexte>p{
    margin-top: 10px;
    font-size: 15px;
  }

  .contexte>img{
    margin: 0;
  }
  
  .mainAside{
    flex-direction: column;
  }

  main{
    width: 100%;
  }

  .etapes{
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
    margin: 0;
  }

  .etapes .etape{
    margin: 0 0 40px 0;
    width: 100%;
  }

  .etapes .etape img{
    height: 150px;
  }

  aside{
    position:initial;
    width: 100%;
    margin: 0 0 0px 0;
  }

  .time>img{
    margin-right: 30px;
  }

  .weather{
    text-align: center;
  }

  .weather>h3{
    margin: 20px 0 10px 0;
  }
}