body{
    margin: 0;
    padding: 0;

    background-color: #212121;
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    display: flex;
    justify-content: center;
    margin: 150px 0px 50px 0px;
}

.logo img{
    width: 128px;
}

.homepage{
    margin: 50px 15px 200px 15px;
    text-align: center;
    border-top: 1px solid beige;
    border-bottom: 1px solid beige;
}

.homepage h2{
    color: beige;
    margin: 10px 0px 10px 0px;
}

.homepage h1{
    margin: 10px 0px 10px 0px;
}

.homepage h3{
    margin: 10px 0px 10px 0px;
}

.presentation, .competences, .projets-scolaires, .projets-personnels{
    margin: 60px 25px 0px 25px;
}

.presentation h2, .competences h2, .projets-scolaires h2, .projets-personnels h2{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding: 10px 0px 10px 0px;
    background-color: azure;
    color: #212121;
    border-radius: 10px;
}

.presentation p{
    margin: 20px 0px 0px 0px;
}

.competences>div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
}

.skill{
    display: flex;
    flex-direction: column;
    margin: 15px;
    align-items: center;
}

.icon{
    width: 90px;
    height: 90px;
    background-color: azure;
    border-radius: 30%;
}

.flip-card-skill {
    width: 90px;
    height: 90px;
    padding: 8px;
    margin-bottom: 15px;
    background-color: azure;
    border-radius: 30%;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner-skill {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card-skill:hover .flip-card-inner-skill {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front-skill, .flip-card-back-skill {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: azure;
    border-radius: 30%;
    padding: 1px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front-skill {
    background-color: azure;
    color: black;
}

/* Style the back side */
.flip-card-back-skill {
    background-color: azure;
    color: #212121;
    transform: rotateY(180deg);
}

.flip-card-back-skill>p{
    margin: 0;
}

.flip-card-back-skill>.desc-skill{
    margin: 5px 0px 10px 0px;
}

.desc-skill{
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.checked{
    color: orange;
}

.projets-personnels>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card{
    color: #212121;
    margin-bottom: 30px;
}

.flip-card-projet {
    height: 197px;
    padding: 8px;
    background-color: azure;
    border-radius: 10px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner-projet {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card-projet:hover .flip-card-inner-projet {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front-projet, .flip-card-back-projet {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: azure;
    padding: 1px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front-projet {
    background-color: azure;
    color: black;
}

/* Style the back side */
.flip-card-back-projet {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: azure;
    color: #212121;
    transform: rotateY(180deg);
}

.card>div{
    display: flex;
    flex-direction: row;
}

.illustration{
    width: 100%;
    border-radius: 10px;
}

.flip-card-front-projet>.title{
    font-weight: bold;
    font-size: 21px;
    margin: 5px 0px 5px 0px;
}

.flip-card-back-projet>.title{
    font-weight: bold;
    font-size: 21px;
    margin: 10px 0px 10px 10px;
}

.description{
    margin: 0px 0px 20px 10px;
}

.voir-plus{
    text-align: center;
    margin-bottom: 25px;
}

.tech-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tech{
    width: 48px;
}