<header>
  <div class="logo-container">
    <img src="/img/logo.png" alt="Logo" class="logo" />
  </div>

  <nav class="navbar">
    <ul class="navbar-list">
      <li class="navbar-item"><a href="/index.html">Accueil</a></li>
      <li class="navbar-item">
        <a href="/pages/a-propos.html">À propos</a>
      </li>
      <li class="navbar-item"><a href="#">Compétences</a></li>
      <li class="navbar-item"><a href="#">Projets</a></li>
      <li class="navbar-item"><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>
